.form__container {
    height:100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    } 
}

.form__container_input_container {
    width:500px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 5%;
    .ant-form-item-label {
        label {
            float:left;
        }
        width: 30%;
        max-width:100%;
    }
    .ant-form-item-control {
        width: 70%;
        max-width:100%;
    }

    .submitButton{
        display:flex;
        justify-content: center;
    }
}