
html, body, #root, #root>section {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-drawer-body {
  .drawer {
      &__date, &__disasterName {
        display:flex;
        justify-content: space-between;  
      }
      &__coordinates {
        &__container {
          padding-left:20px;
          display:flex;
          justify-content: space-between;  
        }
      }
      &__userData {
        &-container{
          padding-left:20px;
          display:flex;
          justify-content: space-between; 
        }
      }
      &__situationData {
        margin-top:20px;
        display:flex;
        flex-direction: column;
      }
  }
}
